<div class="container mt-3">

  <% if !current_user.user_languages.filter(&:seeking).any? %>
    <div class="no-chats-yet gray-text"
         style="margin-top: 25px; text-align: center; display: flex; align-items: center; height: 20vh; width: 100%; justify-content: center">
        <div>
          <p>You aren't practicing any languages yet!</p>
          <p>Add a practicing language to your profile to start using the vocab feature</p>
        </div>
    </div>

    <!-- display arrow suggesting search -->
    <i class="fas fa-arrow-down animated infinite pulse suggest-point-to point-to-profile-nav"></i>
    </div>
  <% end %>

<div class="vocab-add-container">
  <div class="bh-form-container">
    <%= render partial: 'vocab_items/vocab_item_form', locals: { new_vocab_form_languages: @new_vocab_form_languages0 }%>
  </div>

  <button class="bh-btn-solid-variable-slim" id="mic-button">
    <i class="fas fa-microphone"></i>
  </button>
</div>

  <div class="vocab-item-list " id="vocab-item-list">
    <% @vocab_items.each do |vi| %>
      <div class="vocab-item animated flipInX" data-lang-id="<%= vi.language.id %>">
        <div class="vocab-item-content">
          <%= vi.content %>
        </div>
        <i class="fas fa-volume-up" data-text="<%= vi.content %>" data-iso-code="<%= vi.language.iso_code %>"></i>
      </div>
    <% end %>
  </div>
</div>

<!-- pass lang codes to html -->
<% @languages.each do |l|%>
  <span class="language-meta-data" id="language-meta-<%= l.id %>" data-iso-code="<%= l.iso_code %>" data-lang-name="<%= l.name %>"></span>
<% end %>
