<div class="container mt-4">
  <%= simple_form_for @user, :url => my_account_path do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :city%>
    <%= f.input :email%>
    <%= f.input :photo, label: "Photo (url)"%>
    <%= f.input :bio%>
    <%= f.submit class: "bh-btn-solid-lg mt-4" %>
  <% end %>
</div>
