 <div class="container mt-2">

  <% if !@existing_chats_users.any? %>
    <div class="no-chats-yet gray-text"
         style="margin-top: 25px; text-align: center; display: flex; align-items: center; height: 20vh; width: 100%; justify-content: center">
        <div>
          <p>You haven't started any chats yet!</p>
          <p>Search for a partner and request a meetup to start messaging</p>
        </div>
    </div>
    <!-- display arrow suggesting search -->
    <i class="fas fa-arrow-down animated infinite pulse suggest-point-to point-to-search-nav"></i>

  <% end %>

  <% if @existing_chats_users %>
    <% @existing_chats_users.each do |other_user| %>
      <% if other_user != current_user %>

        <%= button_to(user_chats_path(current_user, other_user: other_user.id), method: :post, class:"chat-butto_to" ) do %>
          <div class="bh-chat-index">
            <div class="d-flex">
              <div class="chat-image">
                <%= image_tag other_user.photo, class: "bh-avatar-sm" %>
              </div>
              <div class="name-city">
                <p style="font-weight: bold; color: black; margin-bottom: 0px;"><%= other_user.first_name %></p>
                <p style="font-weight: light;"><%= other_user.city %></p>
              </div>
            </div>
            <div class="chat-last-message">
              <p style="margin-bottom: 0px;">Last message</p>
              <% other_user.chats.each do |chat| %>
                <p><%= chat.updated_at.strftime("%b %d, %H:%M") %></p>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
